[Unit]
Description=Service that runs SMS checker service periodically on ZTE mobile/LTE routers to read SMSs-es, store them locally, and upload them to remote host
After=network.target
StartLimitIntervalSec=0

[Service]
User=<your user>
WorkingDirectory=/home/<your_user>/path_to/ZTE_lte_routers_automation
ExecStart=/home/<your_user>/path_to/ZTE_lte_routers_automation/venv/bin/python3.11 /home/<your_user>/path_to/ZTE_lte_routers_automation/read_sms_zte.py
StandardOutput=append:/home/<user>/log_zte_sms.log
StandardError=append:/home/loki/log_zte_sms.err.log
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

# install the service via:
# sudo cp <this file name with extension .service> /lib/systemd/system/

# start service via
# sudo systemctl start <unit file name>

# check status via
# sudo systemctl status <unit file name>

# enable on boot:
# sudo systemctl enable <unit file name>

# reload and apply changes
# sudo systemctl daemon-reload